.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: #551a8b;
    padding-top: 15px;
    padding-bottom: 15px
}

.navLink {
    font-size: 30px;
    font-weight: 500px;
    color: #fff;

}

:global(.active) {
    color: #5cd3a8;
}