.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    
    padding: 14px 56px;

    color: #373737;
    background-color: #EBD8FF;

    font-family: 'Montserrat',
        sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;

    box-shadow: 0px 3.44px 3.44px rgba(0, 0, 0, 0.25);
    border-color: transparent;
    border-radius: 10px;

    cursor: pointer;
}

.activeBtn {
    composes: btn;
    background-color: #5cd3a8;
}

.btn:hover {
    background-color: #5cd3a8;
}